/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
  padding:0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --primary-white: #ffffff;
  --primary-blue: #061037;
  --primary-orange: #fd7403;
  --secondary-white: #ffffffbf;
  --primary-grey: #1F2937;



  --btn-text-color: var(--primary-blue);
  --btn-background-color: var(--primary-white);

  --font-normal: 400;
  --font-light-bold: 500;
  --font-bold: 600;
  --font-bolder: 700;

  --font-small: 18px;
  --font-normal: 20px;
  --font-medium: 34px;
  --font-big: 48px;
  --font-bigger: 72px;

  --flex-dir: column;
}

body {
  font-family: "Maven Pro", sans-serif;
}
/* utility classes */
.bg-blue {
  background-color: var(--primary-blue);
}
.fw-light-bold{
  font-weight: var(--font-light-bold);
}
.fw-bolder {
  font-weight: var(--font-bolder);
}
.fw-bold {
  font-weight: var(--font-bold);
}
.fw-normal {
  font-weight: var(--font-normal);
}
.fs-small {
  font-size: var(--font-small);
}
.fs-normal {
  font-size: var(--font-normal);
}
.fs-medium{
  font-size: var(--font-medium);
}
.fs-big {
  font-size: var(--font-big);
}
.fs-bigger {
  font-size: var(--font-bigger);
}
.pt-1 {
  padding-top: 1em;
}
.p-2 {
  padding: 2em;
}
.mw-45 {
  max-width: 45%;
}
.m-auto {
  margin: 0 auto;
}
.main-section-text {
  max-width: 100%;
}
.pt-16{
  padding-top: 16em;
}
.pb-12{
  padding-bottom: 12em;
}
.ff-lato {
  font-family: "Lato", sans-serif;
}
.mv-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.color-w {
  color: var(--primary-white);
}
.color-sw {
  color: var(--secondary-white);
}
.color-g{
  color: var(--primary-grey);
}
.color-o{
  color: var(--primary-orange);
}
.ta-center {
  text-align: center;
}
.d-block {
  display: block;
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1.5em;
}
.btn {
  font-size: 14px;
  padding: 0.5em 1.7em;
  border: none;
  background: none;
  cursor: pointer;
  background-color: var(--btn-background-color);
  color: var(--btn-text-color);
}
.btn-accent {
  --btn-background-color: var(--primary-orange);
  --btn-text-color: var(--primary-white);
}
.btn-tertiary {
  --btn-background-color: var(--primary-blue);
  --btn-text-color: var(--primary-white);
}

/* general styles */
header {
  background-color: var(--primary-white);
  margin-top: 1rem;
}
/* modification needed */
.logo {
  height: 45px;
  object-fit: cover;
  margin-right: 1rem;
}
.brand-heading {
  font-weight: var(--font-bold);
  font-size: var(--font-small);
  color: var(--primary-blue);
}
.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-responsive {
  flex-direction: var(--flex-dir);
}
.flex-space-around{
  justify-content: space-around;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-gap{
  justify-content: center;
  gap: 5rem;
}
.list-items {
  display: none;
  list-style: none;
  /* max-width: 360px; */
}
.list-item {
  cursor: pointer;
  font-size: var(--font-normal);
  font-weight: var(--font-small);
}
.list-item:first-child {
  color: var(--primary-blue);
  font-weight: var(--font-bolder);
}
.section-img {
  max-width: 50%;
  max-height: 42.68rem;
  object-fit: cover;
}
.card-section{
  margin-bottom: 9rem;
}
.cards{
  list-style: none;
  color: var(--primary-white);
}
.card{
  height: 478px;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
  object-fit: cover;
  transition: all .3s ease;
}
.card:hover{
  transition: all .3s ease;
  transform: scale(1.1);
}
.icons-list{
  list-style: none;
  color: var(--primary-white);
  margin-top: 2rem;
}
.icons-list .icon{
  max-width: 45px;
  max-height: 48px;
  margin-bottom: 1rem;
}
.icon-item{
  max-width: 274px;
  margin-bottom: 4rem;
}
.icon-item h2{
  margin-bottom: 0.5rem;
}
.mobile-img{
  max-height: 366px;
  max-width: 320px;
  margin-bottom: 2rem;
}
.outro-text{
  max-width: 525px;
}

@media screen and (max-width: 950px) {
  :root {
    --font-normal: 350;
    --font-light-bold: 450;
    --font-bold: 550;
    --font-bolder: 650;

    --font-small: 16px;
    --font-normal: 18px;
    --font-medium: 28px;
    --font-big: 40px;
    --font-bigger: 58px;
  }
  .mw-45 {
    max-width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .flex-responsive {
    --flex-dir: row;
  }
  .list-items {
    display: flex;
    gap: 2rem;
  }
  .brand-heading {
    font-weight: var(--font-bolder);
    font-size: var(--font-medium);
    color: var(--primary-blue);
  }
  .btn {
    font-size: 16px;
  }
  .main-section-text {
    max-width: 26%;
  }
  .flex-gap{
    gap: 10rem;
  }
}